<div class="form-container">
    <mat-card class="mb-4">
        <h2 class="text-center mb-3">
            Forgot <mat-icon>vpn_key</mat-icon>
        </h2>
        <p>You can reset your password here but authenticate yourself first</p>
    </mat-card>
    <div *ngIf="!isAuthenticated">
        <div class="alert alert-danger" *ngIf="responseMsg">
            <mat-icon>error</mat-icon>
            <strong> {{ responseMsg }}</strong>
        </div>
        <form [formGroup]="registeredUser">
            <mat-form-field class="full-width-input">
                <input matInput type="email" formControlName="email" placeholder="Email">
                <mat-error>
                    Please provide a valid email address
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <mat-label>DOB</mat-label>
                <input matInput [matDatepicker]="dob" formControlName="dob" readonly>
                <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                <mat-datepicker #dob disabled="false"></mat-datepicker>
            </mat-form-field>
            <mat-error *ngIf="submitClicked && registeredUser.controls['dob'].invalid">
                Please select a Date from the Datepicker
            </mat-error>
            <div class="button-group">
                <button class="btn btn-primary float-end" (click)="checkAuthentication()">GO</button>
            </div>
        </form>
    </div>
    <div *ngIf="isAuthenticated">
        <mat-card class="mb-4">
            <p>Reset your <mat-icon>vpn_key</mat-icon> now</p>
        </mat-card>
        <form [formGroup]="registeredUser">
            <mat-form-field class="full-width-input">
                <input matInput type="password" formControlName="newPass" placeholder="New Password">
                <mat-error>
                    Please provide an 8 charcter password
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input matInput type="password" formControlName="confirmPass" placeholder="Confirm Password">
                <mat-error>
                    Passwords not matching.
                </mat-error>
            </mat-form-field>
            <div class="button-group">
                <button class="btn btn-primary float-end" (click)="reset()">RESET</button>
            </div>
        </form>
    </div>
</div>