/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background: rgb(100, 100, 100) !important; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 2rem !important;
}
  
mat-form-field {
    display: block !important;
}

.form-container {
    padding: 3rem;
    color: white !important;
}

mat-spinner {
    margin: 0 auto;
}

@media only screen and (min-device-width: 320px)  and (max-device-width: 812px) {
    .form-container {
        padding: 1rem;
        color: white !important;
    }
    ul.navbar-nav {
        flex-direction: row;
        > li {
            padding-left: 6px;
        }
    }
}